<!DOCTYPE html>
<html>
<head>
    <title>Materiel List</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="{{ asset('styles/app.css') }}" rel="stylesheet">
    <link href="{{ asset('styles/jquery.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('styles/responsive.dataTables.min.css') }}" rel="stylesheet">

</head>
<body>
    <h1>Materiel List</h1>
    <button id="newButton" onclick="window.location.href='{{ path('materiel_new') }}'">New</button>
    <table id="materielTable" class="display responsive nowrap" style="width:100%;">
        <thead>
            <tr>
                <th style="display:none;">ID</th>
                <th>Nom</th>
                <th>Prix TTC</th>
                <th>Quantité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div id="overlay"></div>

    <div id="materielModal" style="display:none;">
        <div id="materielDetails"></div>
        <button id="closeModal">Close</button>
    </div>

    <script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.responsive.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#materielTable').DataTable({
                "serverSide": true,
                "ajax": "{{ path('materiel_data') }}",
                "responsive": true,
                "autoWidth": false, 
                "columns": [
                    {   
                        "data": "id",                
                        "orderable": false, 
                        "visible": false , 
                        "searchable": false },
                    {   
                        "data": "nom",                
                        "orderable": false },
                    {   
                        "data": "prixTTC" ,                
                        "orderable": false, 
                        "type": "num", 
                        "searchable": false,              
                        "render": function (data, type, row) {
                            return `<span class="price">${data.toFixed(2)} €</span>`;
                    }},
                    {   
                        "data": "quantite" ,                
                        "orderable": false, 
                        "type": "num" , 
                        "searchable": false }, 
                    {
                        "data": null,
                        "orderable": false,
                        "searchable": false,
                        "render": function (data, type, row) {
                            return `
                                <button class="view-btn" data-id="${data.id}">Voir</button>
                                <button class="edit-btn" data-id="${data.id}">Modifier</button>
                                <button class="decrement-btn" data-id="${data.id}">-</button>
                                <button class="increment-btn" data-id="${data.id}">+</button>
                            `;
                        }
                    }
                ]
            });
        });


        $(document).on('click', '.view-btn', function() {
            var materielId = $(this).data('id');

            $.ajax({
                url: `/materiel/${materielId}`,
                method: 'GET',
                success: function(response) {
                    var rowData = response;

                    var details = `
                        <p><strong>Nom:</strong> ${rowData.nom}</p>
                        <p><strong>Prix HT:</strong> <span class="price">${rowData.prixHT.toFixed(2)} €</span></p>
                        <p><strong>Prix TTC:</strong> <span class="price">${rowData.prixTTC.toFixed(2)} €</span></p>
                        <p><strong>TVA Libelle:</strong> ${rowData.tvaLibelle}</p>
                        <p><strong>TVA Valeur:</strong> ${rowData.tvaValeur}%</p>
                        <p><strong>Quantité:</strong> ${rowData.quantite}</p>
                        <p><strong>Date de création:</strong> ${rowData.creationDate}</p>
                        <a href="/materiel/${materielId}/pdf" target="_blank">Télécharger le PDF</a>
                    `;
                    $('#materielDetails').html(details);
                    $('#overlay').show();
                    $('#materielModal').show();
                },
                error: function() {
                    alert('Erreur lors de la récupération des données du matériel.');
                }
            });
        });

        $('#closeModal').click(function() {
            $('#overlay').hide();
            $('#materielModal').hide();
        });

        $(document).on('click', '.edit-btn', function() {
            var materielId = $(this).data('id');
            window.location.href = `/edit/${materielId}`;
        });

        $(document).on('click', '.decrement-btn', function() {
            var materielId = $(this).data('id');
            $.ajax({
                url: `/decrement/${materielId}`,
                method: 'POST',
                success: function() {
                    $('#materielTable').DataTable().ajax.reload();
                },
                error: function() {
                    alert("Erreur lors de la décrémentation du stock.");
                }
            });
        });

        $(document).on('click', '.increment-btn', function() {
            var materielId = $(this).data('id');
            $.ajax({
                url: `/increment/${materielId}`,
                method: 'POST',
                success: function() {
                    $('#materielTable').DataTable().ajax.reload();
                },
                error: function() {
                    alert("Erreur lors de l'incrémentation du stock.");
                }
            });
        });
    </script>
</body>
</html>